@charset "UTF-8";
/* CSS Document */

@import url("base.css");

main{
  padding: 0 2.5%;
}

main a{
  color: var(--white);
}

main a:visited{
  color: var(--white);
}

.sitePreview{
  margin: 20px 0;
}

.sitePreviewOpacity{
  opacity: 85%;
}

.sitePreview{
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#welcomeSection{
  height: 300px;
  padding-top: 60px;
  color: var(--purple);
}

.welcomePreviewTxt_title{
  font-family: the_humble_script;
  font-weight: normal;
  text-align: center;
  color: var(--purple);
  line-height: 50px;
}

.h2Medium{
  font-size: 2.1em;
}

.h2Small{
  font-size: 2em;
}

.h2Big{
  line-height: 90px;
  font-size: 2.5em;
}

.decorativeLine_container{
  width: 20%;
}

.decorativeLine_right{
  right: 0;
  top: 0;
}

.decorativeLine_left{
  left: 0;
  bottom: 0;
}

#aboutSection{
  background-image: url("../images/home/About\ section/cupsAndPipingbag.png");
}

#shopSection{
  background-image: url("../images/home/Shop\ section/eventCupcakes.png");
}

#contactSection{
  background-image: url("../images/home/Contact\ section/coffeeAndCupcakes.png");
}

.sitePreviewTxt_container{
  z-index: 1;
  top: 0;
  padding: 20px 3%;
  width: 50%;
}

.sitePreviewTxtLeft{
  left: 0;
}

.sitePreviewTxtRight{
  right: 0;
  text-align: right;
}

.sitePreviewTxt_title{
  font-family: the_humble_script;
  font-size: 2.8em;
  font-weight: normal;
  color: var(--white);
}

.sitePreviewTxt_paragraph{
  margin-bottom: 10px;
  font-size: 1.3em;
  color: var(--white);
  line-height: 35px;
}

.sitePreview_link{
  font-size: 1.3em;
  text-decoration: underline;
  text-underline-offset: 3px;
}

/*------------------------------------ Media queries --------------------------------*/
@media only screen and (max-width: 1140px) {
  .sitePreview{
    height: 250px;
  }

  .sitePreviewTxt_container{
    width: 100%;
  }

  .sitePreviewTxt_title{
    font-size: 2.3em;
  }
  
  .sitePreviewTxt_paragraph{
    font-size: 1em;
  }
  
  .sitePreview_link{
    font-size: 1em;
  }
}

@media only screen and (max-width: 1150px) {
  .decorativeLine_container{
    width: 30%;
  }
}

@media only screen and (max-width: 900px) {
  .sitePreviewTxt_title{
    font-size: 1.7em;
  }

  .sitePreviewTxt_paragraph{
    font-size: 1em;
    line-height: 29px;
  }

  .sitePreview_link{
    font-size: 1em;
  }
}

@media only screen and (max-width: 770px) {
  .sitePreviewTxt_title{
    font-size: 1.5em;
  }

  .h2Medium{
    font-size: 1.7em;
  }
  
  .h2Big{
    font-size: 2.1em;
  }
}

@media only screen and (max-width: 505px) {
  .sitePreviewTxt_container{
    padding: 5px 3%;
  }
}

@media only screen and (max-width: 490px) {
  #welcomeSection{
    height: 200px;
    padding-top: 30px;
  }
  
  .welcomePreviewTxt_title{
    line-height: 35px;
  }
  
  .h2Small{
    font-size: 1.2em;
  }

  .h2Medium{
    font-size: 1.4em;
  }
  
  .h2Big{
    line-height: 50px;
    font-size: 1.6em;
  }
}

@media only screen and (max-width: 450px) {
  #welcomeSection{
    height: 200px;
  }

  .h2Medium{
    font-size: 1.2em;
  }
  
  .h2Big{
    font-size: 1.4em;
  }
}

@media only screen and (max-width: 360px) {
  .decorativeLine_container{
    width: 40%;
  }
}

@media only screen and (max-width: 340px) {
  .sitePreview{
    height: 200px;
  }

  .sitePreviewTxt_paragraph{
    font-size: .8em;
    line-height: 20px;
  }

  .sitePreview_link{
    font-size: .8em;
  }
}

@media only screen and (max-width: 300px) {
  .h2Small{
    font-size: .8em;
  }

  .h2Medium{
    font-size: 1em;
  }
  
  .h2Big{
    font-size: 1.2em;
  }
}
/*---------------------------------- Media queries END ------------------------------*/
